---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
		"bourbon/_bourbon",
		"neat/_neat",
        "layout",
        "typesettings",
        "fonts",
        "type",
        "lists",
        "scaffolding",
        "hero",
        "keyboard",
        "what-i-do",
        "cv",
        "print"
;
