<section class="contact" id="contact">
	<div class="inner">
		<p>Currently accepting new freelance opportunities. Contact me for previous examples of my work or see below for more information. I’d love to hear from you.</p>

		<div class="skills-list">
			<h2>Social</h2>
			<ul>
				<li><a target="_blank" href="https://www.facebook.com/A7Studios">Facebook</a></li>
				<li><a target="_blank" href="https://www.instagram.com/A7DC_/">Instagram</a></li>
			</ul>
		</div>
		<div class="skills-list">
			<h2>Portfolio</h2>
			<ul>
				<li><a target="_blank" href="https://www.behance.net/dancaine">Behance</a></li>
				<!-- <li><a href="#">The Loop</a></li> -->
			</ul>
		</div>
		<div class="skills-list">
			<h2>CV</h2>
			<ul>
				<li><a href="cv.html" target="_blank">Download here for a detailed history of my employment and work.</a></li>
			</ul>
		</div>
	</div>
</section>