<section id="what-i-do" class="what-i-do">
	<div class="inner">
		<p>Over the years, I have been fortunate to have been able to work with huge clients, such as Westpac, Vodafone and New Zealand government agencies - to name a few. The same skills that I was able to bring to them are listed below; they include but are not limited to:</p>

		<div class="skills-list">
			<h2>User Interface Design</h2>
			<ul>
				<li>Interaction design</li>
				<li>Wireframing</li>
				<li>Visual mock-ups</li>
			</ul>
		</div>
		<div class="skills-list">
			<h2>Front-end development</h2>
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>Javascript</li>
			</ul>
		</div>
		<div class="skills-list">
			<h2>Marketing and print</h2>
			<ul>
				<li>Graphic design</li>
				<li>Visual indentity</li>
				<li>Publishing</li>
			</ul>
		</div>
	</div>
</section>