// scaffolding

section {
	padding-top: emRhythm(12, $ms-down1);
	padding-bottom: emRhythm(12, $ms-down1);
	float: left;
	width: 100%;
	color: white;

	@media(max-width: 768px) {
		padding-top: emRhythm(6, $ms-down1);
		padding-bottom: emRhythm(6, $ms-down1);		
	}
}

.inner {
	max-width: 960px;
	margin: 0 auto;
	@media (max-width: 960px) {
		width: 95%;
		padding: 0 2.5%;
	}
}

.keyboard {
	position: absolute;
	left: 7.2%;
	right: 0;
	bottom: 0;
	margin: auto;
	@media (max-width: 768px) {
		width: 90%;
	}
}

// sections

.hero {
	background: #F2837F;
	color: white;
	// height: 640px;
	position: relative;
	padding-top: emRhythm(16, $ms-down1);
	padding-bottom: emRhythm(16, $ms-down1);

	@media(max-width: 768px) {
		padding-top: emRhythm(6, $ms-down1);
		padding-bottom: emRhythm(6, $ms-down1);
	}

	h2 {
		margin-bottom: emRhythm(8, $ms-down1);

		@media(max-width: 768px) {
			margin-bottom: emRhythm(16, $ms-down1);			
		}
	}
}

.what-i-do {
	background: #4F7EA5;

}

.contact {
	background: #ECF0F1;
	color: #363743;
}

// what i do

.skills-list {
	@include span-columns(4);
	@media (max-width: 840px) {
		width: 100%;
		margin-bottom: emRhythm(3, $ms-down1);		
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}