// scaffolding

section {
	padding-top: emRhythm(18, $ms-down1);
	padding-bottom: emRhythm(18, $ms-down1);
	float: left;
	width: 100%;

	@media(max-width: 768px) {
		padding-top: emRhythm(12, $ms-down1);
		padding-bottom: emRhythm(12, $ms-down1);		
	}

}

.CV {
	padding-top: emRhythm(18, $ms-down1);
	padding-bottom: emRhythm(18, $ms-down1);

	.head {
		padding-bottom: emRhythm(18, $ms-down1);	
	}	

	.work {
		float: left;
		padding-top: emRhythm(4, $ms-down1);
		padding-bottom: emRhythm(4, $ms-down1);		
	}

	.intro {
		padding-top: emRhythm(18, $ms-down1);
		padding-bottom: emRhythm(30, $ms-down1);			
	}

}

.inner {
	max-width: 960px;
	margin: 0 auto;
	@media (max-width: 960px) {
		width: 95%;
		padding: 0 2.5%;
	}
}

.keyboard {
	position: absolute;
	left: 7.2%;
	right: 0;
	bottom: 0;
	margin: auto;
	@media (max-width: 768px) {
		width: 90%;
	}
}

// sections

.hero {
	background: #F2837F;
	color: white;
	position: relative;
	padding-bottom: emRhythm(30, $ms-down1);

	p {
		font-size: $ms-up2;		
	}
}

.what-i-do {
	background: #4F7EA5;

}


// what i do

.skills-list {
	@include span-columns(4);
	@media (max-width: 840px) {
		width: 100%;
		margin-bottom: emRhythm(3, $ms-down1);		
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

// CV

.CV {
	color: black;
	
	.content {
		@include span-columns(8);
	}
	
	.heading {
		@include span-columns(4);
	}

	.name {
		@include span-columns(8);
	}

	.contact {
		@include span-columns(4);
		@include setType(7, $ms-up1);		
		text-align: right;

		span {
			display: block;
		}
	}
	
	p {
		@include setType(7, $ms-up1);
	}
	
	
	li {
		list-style: disc;
		margin-left: 1em;
	} 
}


.client {
	padding-bottom: emRhythm(9, $ms-down1);	
}
