@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('fonts/brandon_re-webfont.eot');
    src: url('fonts/brandon_re-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_re-webfont.woff2') format('woff2'),
         url('fonts/brandon_re-webfont.woff') format('woff'),
         url('fonts/brandon_re-webfont.ttf') format('truetype'),
         url('fonts/brandon_re-webfont.svg#brandon_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-size: $base-em-font-size;
	@media (max-width: 768px) {
		font-size: 80%;
	}
}

h1 {
	@include setType(15, $ms-up5);
	letter-spacing: -.2px;

	@media (max-width: 768px) {
		@include setType(12, $ms-up4);		
	}
}

h2 {
	@include setType(6, $ms-up2);
	display: inline-block;
}

h5 {
	@include setType(7, $ms-up2);
	display: inline-block;
}

h6 {
	@include setType(6, $ms-up1);
}

h2.--alt {
	color: #363743 !important; //refactor obviously
	border-color: #363743 !important; //and this
}

p {
	@include setType(8, $ms-up2);
}

ul {
	@include setType(7, $ms-up1);
}

.underline {
	color: white;
	text-decoration: none;
	font-weight: inherit;
	margin-bottom: emRhythm(5, $ms-up3);
	@include rhythmBorderBottom(4px, 2, $ms-up3);
	border-bottom: 4px solid white;
}

.underline--alt {
	text-decoration: none;
	font-weight: inherit;
	color: #363743;
	margin-bottom: emRhythm(5, $ms-up3);
	@include rhythmBorderBottom(4px, 2, $ms-up3);
	border-bottom: 4px solid #363743;
}

.client h5 {
	border: none;
}

.client b {
	font-weight: normal;
	font-style: italic;
	font-size: $ms-down1; 
}

.hero a,
.what-i-do h2 {
	@extend .underline;
}

.what-i-do {
	color: white;
}

.contact h2,
.CV h2,
.CV h5 {
	@extend .underline--alt;
}

.CV h1 {
	margin-bottom: 0;
    margin-left: -.05em;
}

.contact a {
	color: inherit;
	text-decoration: none;
}

.contact p {
	letter-spacing: -.7px;
}

.contact, .CV {
	color: #363743;
}