@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('fonts/brandon_re-webfont.eot');
    src: url('fonts/brandon_re-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_re-webfont.woff2') format('woff2'),
         url('fonts/brandon_re-webfont.woff') format('woff'),
         url('fonts/brandon_re-webfont.ttf') format('truetype'),
         url('fonts/brandon_re-webfont.svg#brandon_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-size: 2em;
	@media (max-width: 640px) {
		font-size: 1.3em;
	}
}

h1 {
	font-size: 2em;
	line-height: 1.17;
}

h2 {
	font-size: 1em;
	display: inline-block;

}

h2.--alt {
	color: #363743 !important; //refactor obviously
	border-color: #363743 !important; //and this
}

ul {
	font-size: .75em;
}

.underline {
	color: white;
	text-decoration: none;
	font-weight: inherit;
	margin-bottom: emRhythm(1, $ms-down1);
	@include rhythmBorderBottom(4px, .75, $ms-down1); // [2]
	border-bottom: 4px solid white;
}

.underline--alt {
	text-decoration: none;
	font-weight: inherit;
	color: #363743;
	margin-bottom: emRhythm(1, $ms-down1);
	@include rhythmBorderBottom(4px, .75, $ms-down1); // [2]
	border-bottom: 4px solid #363743;
}

.hero a,
.what-i-do h2 {
	@extend .underline;
}

.contact h2 {
	@extend .underline--alt;
}

.contact a {
	color: inherit;
	text-decoration: none;
}