body {
	font-size: $base-em-font-size;
	@media (max-width: 768px) {
		font-size: 80%;
	}
}

h1 {
	@include setType(15, $ms-up5);
	letter-spacing: -1px;

	@media (max-width: 768px) {
		@include setType(12, $ms-up4);		
	}
}

h2 {
	@include setType(6, $ms-up2);
	display: inline-block;
}

h5 {
	@include setType(7, $ms-up2);
	display: inline-block;
}

h6 {
	@include setType(6, $ms-up1);
}

h2.--alt {
	color: #363743 !important; //refactor obviously
	border-color: #363743 !important; //and this
}

p {
	@include setType(8, $ms-up2);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens: none;
}

ul {
	@include setType(7, $ms-up1);
}

.project-studies h2 {
	display: block;
	margin-bottom: emRhythm(2, $ms-up2);
}

.underline {
	color: white;
	text-decoration: none;
	font-weight: inherit;
	margin-bottom: emRhythm(5, $ms-up3);
	@include rhythmBorderBottom(4px, 2, $ms-up3);
	border-bottom: 4px solid;
}

.underline--alt {
	text-decoration: none;
	font-weight: inherit;
	color: #222;
	margin-bottom: emRhythm(5, $ms-up3);
	@include rhythmBorderBottom(4px, 2, $ms-up3);
	border-bottom: 4px solid;
}

.client h5 {
	border: none;
}

.client b {
	font-weight: normal;
	font-style: italic;
	font-size: $ms-down1; 
}

.hero a,
.what-i-do h2,
.work h2 a {
	@extend .underline;
}

.contact h2,
.CV h2,
.CV h5 {
	@extend .underline--alt;
}

.CV h1 {
	margin-bottom: 0;
    margin-left: -.05em;
}

.contact a {
	color: inherit;
	text-decoration: none;
}

.contact p {
	letter-spacing: -.7px;
}

.contact, .CV {
	color: #363743;
}