// scaffolding

section {
	padding-top: emRhythm(18, $ms-down1);
	padding-bottom: emRhythm(18, $ms-down1);
	float: left;
	width: 100%;

	@media(max-width: 768px) {
		padding-top: emRhythm(12, $ms-down1);
		padding-bottom: emRhythm(12, $ms-down1);		
	}

}

section:not(:last-child, .work) {
	@media(min-width: 380px) {
		height: 100vh;
	}
}

.CV {
	padding-top: emRhythm(18, $ms-down1);
	padding-bottom: emRhythm(18, $ms-down1);

	.head {
		padding-bottom: emRhythm(18, $ms-down1);	
	}	

	.intro {
		padding-top: emRhythm(18, $ms-down1);
		padding-bottom: emRhythm(30, $ms-down1);			
	}

}

.work {
	padding: 0;
}

.iphone {
	padding-top: emRhythm(18, $ms-down1);
	padding-bottom: emRhythm(18, $ms-down1);
}

.inner {
	max-width: 960px;
	margin: 0 auto;
	@media (max-width: 960px) {
		width: 95%;
		padding: 0 2.5%;
	}
}