.overlay {
	overflow-y: scroll;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: white;
	display: none;

	.project-close-btn {
	    position: absolute;
	    top: 1em;
	    right: 1em;
	    text-decoration: none;
	    color: inherit;

	    img {
	    	width: 2em;
	    }
	}

	.heading {
		@include span-columns(4);
	}

	.introduction {
		@include span-columns(8);
		@include setType(7, $ms-down1);
	}
}

.overlay.active {
	display: block;
}

.project-view-btn {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F2837F;
	border: none;
	width: 100%;
	padding: 1em;
	text-align: center;
	color: white;
	@include setType(1);
	font-family: inherit;
}

.hero-holder {
	position: relative;
}

.iphone,
.screens {
	float: left;
	width: 100%;

}

.iphone {
	background: #EDEDED;
}

.project-studies {
	display: none;
}

.project-studies.active {
	display: block;
}

.thegodfatherbarbers-safari--hero {
	width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    box-shadow: 0px 4px 7px #313131;

    @media (max-width: 768px) {
    	right: -16em;
    }

    @media (min-width: 768px) {
    	width: 75%;
	}
}

.overlay--dark {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: black;
    opacity: .5;
    z-index: 2;
}

.project-godfather-barbers {
	overflow: hidden;
	position: relative;

	@media (min-width: 768px) {
		height: 100vh;
	}

	img {
		@media (min-width: 768px) {
			position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    margin: auto;		
		}
	}

	h2 {
		position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;	
	}

	img {
		width: 100%;
	}

	h2 {
	    width: 100%;
	    text-align: center;
	    height: 1em;
	    z-index: 3;
	}
}



.thegodfatherbarbers-iphone-footer {
    margin: auto;
    display: block;
    width: 30%;	
}

.the-godfather-barbers {
	background: #EDEDED;

	.head {
		padding-top: emRhythm(18, $ms-down1);
		padding-bottom: emRhythm(12, $ms-down1);
		background: #FACF9B;
	    float: left;
    	width: 100%;
	}

	.project-view-btn {
		background: #FACF9B;
		color: #000;
	}
}