/* extend tachyons */

.no-scrollbar::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* margins  */

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}


.circular-typeface {
  font-family: 'Circular Std';
}

.black {
  color: #1B1B1C;
}


/* height */

.vh-60 {
	height: 60vh;
}

.vh-80 {
	height: 80vh;
}

@media (min-width: 48em) {
		.vh-80-ns {
			height: 80vh;
		}
}

/* .min-h-4000 {
	min-height: calc(100vh * 4)
} */

/* colours */

.bg-black {
	background-color: #171717;
}
/* ////// */

/* headings */

.font-smoothing {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* Padding */

.pt-100 {
	padding-top: 100%;
}

@media (min-width: 48em) {
		.pl20pc-ns {
			padding-left: 20%;
		}
}


/* //// */

.mw9 {
	max-width: 90rem;
}

/* ////// */


/* Typescale */

/* this needs to be changed in source https://github.com/tachyons-css/tachyons/issues/270 */

.lh-copy {
	line-height: 1.5rem;
}

.f1 {
	font-size: 2.369rem;
	letter-spacing: -0.016rem;
	line-height: 3rem;
}

.f2 {
	font-size: 1.777rem;
	letter-spacing: -0.013rem;
	line-height: 3rem;
}

.f3 {
	font-size: 1.333rem;
	letter-spacing: -0.008rem;
	line-height: 2rem;
}

.f4 {
	font-size: 1rem;
	letter-spacing: 0.001rem;
	line-height: 2;
}

/* .f4 {
	font-size: 1.125rem;
}

.f5 {
	font-size: 1.5625rem;
} */

/* letter-spacing */

.ls--039 {
	letter-spacing: -0.03rem;
}

/* refactor */

.big-text {
	font-style: italic;
	letter-spacing: -0.1rem;
	line-height: 1.25;
	font-size: 2.375rem;
	margin: 0;
	padding-bottom: 2rem;
}