body {
  margin: 0;
  padding: 0;
}

/* extend tachyons */

.no-scrollbar::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* margins  */

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

/* fonts */

@font-face {
	font-family: 'Circular Std';
	src: url('/fonts/CircularStd-Bold.eot');
	src: url('/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CircularStd-Bold.woff') format('woff'),
		url('/fonts/CircularStd-Bold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('/fonts/CircularStd-Black.eot');
	src: url('/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CircularStd-Black.woff') format('woff'),
		url('/fonts/CircularStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('/fonts/CircularStd-Book.eot');
	src: url('/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('/fonts/CircularStd-Book.woff') format('woff'),
		url('/fonts/CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.circular-typeface {
  font-family: 'Circular Std';
}

.black {
  color: #1B1B1C;
}

/* height */

.vh-50 {
	height: 50vh;
}

/* colours */

.bg-black {
	background-color: #1B1B1C;
}

/* ////// */

/* headings */

.font-smoothing {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* Padding */

.pb0-lc:last-child {
	padding-bottom: 0;
}

.pl20pc {
	padding-left: 20%;
}

.mw9 {
	max-width: 90rem;
}

/* ////// */


/* Typescale */

/* this needs to be changed in source https://github.com/tachyons-css/tachyons/issues/270 */

.f1 {
	font-size: 2.375rem;
}

.f4 {
	font-size: 1.125rem;
}


/* letter-spacing */

.ls--039 {
	letter-spacing: -0.03rem;
}

